.text-input
{
-fx-text-fill : #000;
}
.button
{
-fx-background-color : 	#d8546e;
}
.button:hover
{
-fx-background-color : #d76b81;
}
.button:pressed
{
-fx-background-color : #d8546e;
}
#pane
{
-fx-background-color: linear-gradient(#d76b81,#080e30 80%)
}
